/* essa parte é so pro telefone */

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-wrapper label {
    color: red;
    margin-bottom: 5px;
}

.input-number {
    border: none;
    border-bottom: 2px solid teal;
    font-size: 18px;
    padding: 2px;
    outline: none;
    width: 150px;
}

.input-number.invalid {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.error-message.active {
    display: block;
}


/* TESTE DE HEADER 

header {
    padding: 0 20px;
    background-color: #000608;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    height: 50px;
    width: auto;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul.menuPrincipal li a {
    text-decoration: none;
    /* Remove o sublinhado dos links 
    font-weight: bold;
    color: #62D1C6;
    /* Define a cor branca para os links 
    font-family: 'Arial', sans-serif;
    padding-bottom: 5px;
    position: relative;
    margin-left: 10px;
}
*/


/* HEADER */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #000608;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2.5% 0 2.5% 0;
    border-bottom: #ff601c 5px solid;
}

ul.menuPrincipal {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    position: relative;
}

ul.menuPrincipal li {
    margin: 0 20px;
}

ul.menuPrincipal li a {
    text-decoration: none;
    /* Remove o sublinhado dos links */
    font-weight: bold;
    color: #62D1C6;
    /* Define a cor branca para os links  */
    font-family: 'Arial', sans-serif;
    padding-bottom: 5px;
    position: relative;
}

ul.menuPrincipal li a:hover::after {
    width: 100%;
}

.header a:hover {
    color: #eee;
}

.header img {
    height: 50px;
}


/* Responsividade para telas menores */

@media (max-width: 768px) {
    ul.menuPrincipal {
        flex-direction: column;
        /* Exibe o menu em uma coluna em telas menores */
        justify-content: center;
        align-items: center;
    }
    ul.menuPrincipal li {
        margin: 10px 0;
        /* Ajusta o espaçamento vertical no layout em coluna */
    }
}


/* Wrapper */

#imgWrapper {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 200px;
}

.imgIntro {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.imgIntro.active {
    display: block;
    opacity: 1;
}

.imgIntro img {
    width: 100%;
    max-height: 70vh;
    display: block;
}

#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 20%;
    width: auto;
    padding: 16px;
    color: #287971;
    font-weight: bold;
    font-size: 18vh;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

#next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
    color: #62D1C6;
    background-color: transparent;
    text-decoration: none;
}


/* Estilo global */

body {
    font-family: Arial, sans-serif;
    background-color: #000608;
    color: #333;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #62d1c6;
    font-size: 2rem;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

#texto {
    text-align: center;
    display: block;
    margin-top: 30hv;
    width: 100%;
}

p {
    text-align: center;
    font-size: 1.2 rem;
    color: #eee;
    padding: 0 20px 0 25%;
    width: 50%;
}


/* Container para o formulário */

form {
    margin-left: 35%;
    margin-top: 15%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.secao {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
}


/* Estilização dos campos */

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}


/* Botão de enviar */

input[type="submit"] {
    width: 100%;
    background-color: #62d1c6;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: #287971;
}


/* Link para voltar */

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #62d1c6;
}

a:hover {
    text-decoration: underline;
    background-color: #ff601c;
    color: #eeee;
}


/* Responsividade para telas pequenas */

.mobileNav {
    display: none;
}

.indexIcon {
    margin: auto 0;
    padding: 10px;
    display: none;
    cursor: pointer;
    right: 0;
}

.indexIcon div {
    width: 35px;
    height: 3px;
    background-color: #eee;
    margin: 6px 0;
    transition: 0.4s;
}

.open {
    border-bottom: #ff601c 5px solid;
    padding-bottom: 20px;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.menuMobile {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    background-color: #000608;
    text-align: center;
}

.open .menuMobile {
    display: block;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    justify-content: flex-start;
}

.menuMobile li {
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    list-style-type: none;
    padding-left: 30%;
}

@media (max-width: 620px) {
    #prev,
    #next {
        top: 2%;
        height: 10%;
    }
    .header {
        display: none;
    }
    .indexIcon {
        display: block;
        margin-right: 1.2rem;
    }
    .mobileNav img {
        width: 50px;
        float: none;
        display: block;
        margin-right: auto;
        margin-left: 1.2rem;
    }
    .mobileNav {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: #ff601c 5px solid;
        z-index: 1;
        background-color: #000608;
    }
    .mobileNav a {
        text-align: right;
        width: 50%;
        height: auto;
        padding-bottom: 1.2rem;
    }
    .indexIcon .open {
        width: 100%;
    }
    form {
        margin-left: 0;
        width: 95%;
        margin-top: 20%;
    }
    h1 {
        font-size: 1.5rem;
    }
    input[type="submit"] {
        padding: 12px;
    }
}